<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/1c97a9b182.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../../public/css/navbar.css" />
    <link rel="stylesheet" href="../../public/css/profile.css" />

    <title>Profile</title>
  </head>
  <body>
    <!-- navbar -->
    <!-- check if user is login -->
    <%if(authUser){%> <%-include('../partials/privateNav.ejs')%> <%}else{%>
    <%-include('../partials/navbar.ejs')%> <% }%>
    <!-- end navbar -->

    <!-- header -->

    <!-- header -->
    <header class="profile-header-container">
      <div class="bg-img-container"></div>
    </header>

    <!-- profile details -->

    <div class="profile-details-content">
      <div class="profile-details-img">
        <img src="<%=authUser.profileImage%> " alt="profile-img" />
      </div>
      <div class="profile-details-info">
        <h2><%=user.firstname%> <%=user.lastname%></h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
          at repellat, pariatur ad error iusto, quisquam voluptatum, quidem
          quisquam.
        </p>
        <div class="profile-details-info-btn">
          <button>Edit Profile</button>
        </div>
      </div>
    </div>

    <!-- post list -->
    <!-- latest post title header -->
    <section class="latest-post-title">
      <h2>Latest Post</h2>
    </section>
    <!-- End of latest post title header -->

    <!-- blog post grid -->
    <section class="post-container">
      <!-- post 1 -->
      <%user.posts.forEach(function(post){%>
      <div class="post-item-wrapper">
        <img src="<%=post.image%> " alt="" />
        <div class="post-item-content">
          <h3><%=post.title%></h3>
          <!-- user avatar -->
          <div class="user-avatar-container">
            <img src="<%=user.profileImage%> " alt="" />
            <p><%=user.firstname%> <%=user.lastname%></p>
            <p><%=post.createdAt%></p>
          </div>
          <p><%=post.description%></p>
          <button>Read More</button>
        </div>
      </div>
      <%})%>
    </section>
  </body>
</html>
